.button {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 13px;
  font-size: $font-size--larger;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  user-select: none;
  outline: none;
  border: 3px solid #ffffff;
  border-radius: 27px;

  &:hover {
    color: $color-secondary;
    background-color: #ffffff;
  }

  &:active {
    color: $color-secondary--down;
  }

  &--form {
    padding-top: 20px;
    padding-bottom: 22px;
    line-height: 1.1667em;
    color: #ffffff;
    background-color: $color-success;
    border: none;
    border-radius: 3px;

    &:hover {
      background-color: $color-success--hover;
    }

    &:active {
      opacity: 0.7;
    }

    @media (min-width: $tablet-width) {
      padding-left: 58px;
      padding-right: 58px;
      border-radius: 2px;
    }
  }
}
