.button {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 13px;
  font-size: $font-size--larger;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  user-select: none;
  outline: none;
}
