.button {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 13px;
  font-size: $font-size--larger;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  user-select: none;
  outline: none;
  border: 3px solid #ffffff;
  border-radius: 27px;
  cursor: pointer;

  &--intro-download {
    &:hover {
      color: $color-secondary;
      background-color: #ffffff;
    }

    &:active {
      color: $color-secondary--down;
    }
  }

  &--form {
    padding-top: 20px;
    padding-bottom: 22px;
    line-height: 1.1667em;
    color: #ffffff;
    background-color: $color-success;
    border: none;
    border-radius: 3px;

    &:hover {
      color: #ffffff;
      background-color: $color-success--hover;
    }

    &:active {
      color: rgba(255, 255, 255, 0.7);
    }

    @media (min-width: $tablet-width) {
      padding-left: 58px;
      padding-right: 58px;
      border-radius: 2px;
    }
  }

  &--upload {
    padding-top: 15px;
    padding-bottom: 15px;
    color: $color-secondary;
    border-color: $color-secondary;
    background-color: transparent;

    &:hover {
      color: #ffffff;
      background-color: $color-secondary;
      border-color: $color-secondary;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }

    @media (min-width: $tablet-width) {
      margin-top: 28px;
    }
  }

  &--cancel {
    padding-top: 15px;
    padding-bottom: 15px;
    color: $gray-221;
    border-color: $gray-221;
    background-color: transparent;

    &:hover {
      color: $color-main--cancel-buttom-hover;
      border-color: $gray-181;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: $gray-181;
    }
  }
}
