/* .field-range {
  position: relative;
  width: 100%;
  margin-bottom: 65px;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid red;
  }

  @media (min-width: $desktop-width) {
    margin-right: 40px;
  }
} */

/* .field-range__icon {
  outline: 1px dotted green;
  display: block;
  width: 48px;
  height: 48px;
}

.field-range__input-wrap {
  position: relative;
  width: 240px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    width: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }

  &--disabled {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
} */

.field-range__input {
  width: 100%;
  background: none;

  @mixin track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: $color-main;
  }

  @mixin thumb {
    height: 14px;
    width: 14px;
    margin-top: -6px;
    border-radius: 7px;
    border: 2px solid $color-secondary;
    background: $gray-242;
    cursor: pointer;
  }

  /*===-WEBKIT-===*/
  -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    @include track;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
  }

  &:focus::-webkit-slider-thumb {
    background: $color-secondary;
  }

  /*===-MOZ-===*/
  &::-moz-range-track {
    @include track;
  }

  &::-moz-range-thumb {
    @include thumb;
    border-radius: 9px;
  }

  &:focus::-moz-range-thumb {
    background: $color-secondary;
  }

  /*===-MS-===*/
  /*сам input*/
  &::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: coral;
    border-color: transparent;
    border-width: 4px 0;
    color: transparent;
  }

  /*фоновыя линия ползунка - левая часть*/
  &::-ms-fill-lower {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: $color-main;
  }

  /*фоновыя линия ползунка - левая часть*/
  &::-ms-fill-upper {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: $color-main;
  }

  /*смещающийся элемент ползунка*/
  &::-ms-thumb {
    @include thumb;
    margin-top: 0;
    border-radius: 9px;
  }

  &:focus::-ms-fill-lower {
    background: $color-main;
  }

  &:focus::-ms-fill-upper {
    background: $color-main;
  }

  &:focus::-ms-thumb {
    background: $color-secondary;
  }
}
