.form {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin-bottom: 0;
  }
}

.form__remark {
  width: 100%;
  line-height: 2.1428em;
  text-align: center;
  text-transform: uppercase;

  &--symbol {
    color: $color-secondary;
  }

  &--mob {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desk {
    display: none;

    @media (min-width: $desktop-width) {
      display: inline;
    }
  }

  @media (min-width: $tablet-width) {
    order: 51;
    width: 310px;
    margin-top: 18px;
    text-align: right;
    letter-spacing: 0.3px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
  }
}
