.form-checkbox {
  padding-top: 40px;
  background-color: $gray;

  @media (min-width: $tablet-width) {
    order: 4;
    width: 100%;
    padding-top: 0;
    margin-bottom: 55px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.form-checkbox__fieldset {
  padding-top: 33px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    order: 4;
    border: 2px solid $gray-229;
    border-radius: 2px;
  }
}

.form-checkbox__legend {
  width: 240px;
  line-height: 1.2857em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.02857em;
  color: $color-secondary;

  @media (min-width: $tablet-width) {
    width: 438px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2.1428em;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.form-checkbox__label-wrap {
  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 10px;
  }
}

/*===стилизация чек-бокс===*/
.form-checkbox__input {
  /*скрытие стандартного чек-бокса*/
  display: none;
}

.form-checkbox__label {
  /*подготовка места для кастом-чек-бокса = стилизация label*/
  position: relative;
  display: block;
  margin: 10px 0 52px 0;
  padding-left: 70px;
  cursor: pointer;

  font-size: $font-size--larger;
  line-height: 1.6667em;
  letter-spacing: 0.02222em;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.form-checkbox__label::before {
  /*стилизация фона checkbox*/
  content: "";
  width: 38px;
  height: 38px;
  border: 1px solid $gray-229;
  border-radius: 2px;
  background: #ffffff;

  position: absolute;
  top: -3px;
  left: 0;
}

.form-checkbox__label:hover::before {
  border-color: $color-main;
}

.form-checkbox__label:active::before {
  border-color: $color-secondary;
}

/*переключение состояния чек-бокса*/
.form-checkbox__input:checked + .form-checkbox__label::after {
  /*стилизация активного чек-бокса*/
  content: "";
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-yes.svg");

  position: absolute;
  top: 7px;
  left: 10px;
}
