.information {
  text-align: center;
  outline: 3px dotted red;
}

.information__title {
  padding: 45px 20px;
  font-size: $font-size--large;
  font-weight: 300;
  outline: 3px dotted coral;

  @media (min-width: $tablet-width) {
    font-size: $font-size--x-large;
    line-height: 1em;
  }
}

.information__title-item {
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      width: 400px;
    }
  }
}

.information__advantages-wrap {
  position: relative;
  background-color: $gray;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.information__advantages {
  outline: 3px dotted blue;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-top: 300px;
    display: flex;
  }
}

.information__advantages-inner {
  padding: 20px 30px;
  outline: 3px dotted green;

  @media (min-width: $desktop-width) {
    width: 250px;
  }
}

.information__img {
  display: block;
  margin: 0 auto;
  order: -1;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
