.information {
  text-align: center;
  outline: 2px dotted red;
}

.information__title {
  padding: 45px 20px;
  font-size: $font-size--large;
  font-weight: 300;
  outline: 3px dotted coral;

  @media (min-width: $tablet-width) {
    font-size: $font-size--x-large;
    line-height: 1em;
  }
}

.information__title-item {
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      width: 400px;
    }
  }
}

.information__advantages-wrap {
  position: relative;
  background-color: $gray;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 900px;
  }
}

.information__advantages {
  outline: 3px dotted blue;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-top: 300px;
  }
}

.information__advantages-inner {
  padding: 20px 30px;
  outline: 3px dotted green;

  @media (min-width: $desktop-width) {
    width: 250px;
  }
}

.information__img {
  display: block;
  margin: 0 auto;
  width: 157px;
  height: 320px;

  @media (min-width: $tablet-width) {
    order: -1;
    width: 268px;
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
