.intro {
  background-color: $color-main--dark;
  outline: 3px dotted green;
}

.intro__download {
  font-size: $font-size--larger;
  line-height: $line-height--smaller;
  font-weight: 700;
  color: #ffffff;
}

.intro__content {
  font-size: $font-size--content;
  line-height: $line-height--content;
  font-weight: 300;
  color: #ffffff;
}

.intro__title {
  font-size: $font-size--large;
  font-weight: 300;
  color: #ffffff;
}
