.intro {
  position: relative;
  z-index: -3;
  margin-top: -70px;
  background-color: $color-main--dark;

  @media (min-width: $tablet-width) {
    z-index: -3;
    margin-top: -110px;
  }
}

.intro__img-wrap {
  position: relative;
  height: 462px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: 0% 0%;

  @media (min-width: $tablet-width) {
    z-index: -3;
    height: 728px;
    margin-top: -110px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  @media (min-width: $desktop-width) {
    z-index: -3;
    height: 853px;
    margin-top: -110px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  &--no-index {
    height: 238px;

    @media (min-width: $tablet-width) {
      height: 440px;
      margin-top: -110px;
      padding-top: 190px;
      font-size: $font-size--xl-large;
    }

    @media (min-width: $desktop-width) {
      height: 394px;
      margin-top: -110px;
    }
  }
}

.intro__img {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -160px;
  width: 258px;
  height: 286px;

  @media (min-width: $tablet-width) {
    margin-left: -330px;
    width: 660px;
    height: 513px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -525px;
    width: 1050px;
    height: 645px;
  }
}

.intro__download-wrap {
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 210px;
    right: 50%;
    margin-right: 10px;
    z-index: -2;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 230px;
    right: 50%;
    margin-right: 170px;
    z-index: -2;
  }
}

.intro__title {
  display: none;
  width: 225px;
  margin: 0 auto;
  font-size: $font-size--x-large;
  font-weight: 300;
  line-height: 1.2em;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    font-size: $font-size--xl-large;
  }

  &--no-index {
    display: block;
    width: 280px;
    padding-top: 100px;
    font-size: $font-size--large;

    @media (min-width: $tablet-width) {
      width: 500px;
      padding-top: 0;
      font-size: $font-size--xl-large;
    }

    @media (min-width: $desktop-width) {
      width: 800px;
      font-size: $font-size--xl-large;
    }
  }
}

.intro__download {
  width: 280px;
  min-height: 55px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 30px;
  color: #ffffff;
  border: 3px solid #ffffff;

  @media (min-width: $tablet-width) {
    width: 300;
  }
}

.intro__marketplace {
  outline: 2px dotted coral;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  margin-bottom: 28px;
  width: 205px;
  min-height: 58px;
}

.intro__content {
  margin: 0 auto;
  width: 232px;
  font-size: $font-size;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}
