.intro {
  position: relative;
  z-index: -3;
  margin-top: -66px;
  background-color: $color-main--dark;
  outline: 2px dotted green;

  @media (min-width: $tablet-width) {
    z-index: -3;
    margin-top: -110px;
  }
}

.intro__img-wrap {
  position: relative;
  height: 462px;

  @media (min-width: $tablet-width) {
    z-index: -3;
    height: 728px;
    margin-top: -110px;
  }

  @media (min-width: $desktop-width) {
    z-index: -3;
    height: 853px;
    margin-top: -110px;
  }

  &--no-index {
    height: 238px;

    @media (min-width: $tablet-width) {
      height: 440px;
      margin-top: -110px;
      padding-top: 190px;
      font-size: $font-size--xl-large;
    }

    @media (min-width: $desktop-width) {
      height: 394px;
      margin-top: -110px;
    }
  }
}

.intro__img {
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 170px;
  }
}

.intro__download-wrap {
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 210px;
    right: 50%;
    margin-right: 10px;
    z-index: -2;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 230px;
    right: 50%;
    margin-right: 170px;
    z-index: -2;
  }
}

.intro__title {
  display: none;
  width: 225px;
  margin: 0 auto;
  font-size: $font-size--x-large;
  font-weight: 300;
  line-height: 1.2em;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    font-size: $font-size--xl-large;
  }

  &--no-index {
    width: 100%;
  }
}

.intro__download {
  display: block;
  width: 281px;
  min-height: 55px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 30px;
  padding-top: 13px;
  font-size: $font-size--larger;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 27px;

  @media (min-width: $tablet-width) {
    width: 300;
  }
}

.intro__marketplace {
  outline: 2px dotted coral;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  margin-bottom: 28px;
  width: 205px;
  min-height: 58px;
}

.intro__content {
  margin: 0 auto;
  width: 232px;
  font-size: $font-size;
  font-weight: 300;
  color: #ffffff;
}
