.main-nav {
  outline: 3px dotted green;
}

.main-nav__list {
  list-style: none;
  font-size: $font-size--larger;
  line-height: 1.7778em;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $color-main;
}
