.page-footer {
  padding: 35px 20px 30px 20px;
  outline: 3px dotted red;
}

.page-footer__links {
  outline: 3px dotted coral;
}


.page-footer__logo,
.page-footer__social,
.page-footer__copyright {
  outline: 3px dotted green;
}
