.page-footer {
  outline: 2px dotted red;

  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding: 35px 20px 30px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 130px 70px 130px;
  }
}

.page-footer__links {
  outline: 2px dotted coral;

  display: flex;
  justify-content: space-between;
}

.page-footer__logo,
.page-footer__social,
.page-footer__copyright {
  outline: 2px dotted green;
}
