.page-footer {
  padding: 40px 20px;
  background-color: #ffffff;

  @media (max-width: $tablet-width - 1px) {
    &--no-footer {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: -127px;
    padding: 38px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 130px 70px 130px;
  }
}

.page-footer__links {
  outline: 1px dotted coral;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo,
.page-footer__social,
.page-footer__copyright {
  outline: 1px dotted green;
}

.page-footer__logo {
  @media (min-width: $tablet-width) {
    width: 150px;
    height: 45px;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
}

.page-footer__copyright-text {
  @media (min-width: $tablet-width) {
    margin-right: 15px;
    line-height: 1.2857em;
  }
}

.page-footer__copyright-link {
  outline: 1px dotted green;
  width: 27px;
  height: 34px;
}
