.page-header {
  @media (min-width: $desktop-width) {


    background-color: rgba(255, 255, 255, 0.03);
  }
}

.page-header__wrap {
  outline: 3px dotted red;
  position: relative;
  z-index: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 110px;
    padding-left: 130px;
    padding-right: 130px;
  }
}
