.popup-error {
  display: none;
  position: absolute;
  width: 320px;
  top: 200px;
  left: 50%;
  margin-left: -160px;
  padding: 45px 20px 50px 20px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  @media (min-width: $tablet-width) {
    width: 460px;
    margin-left: -230px;
    padding-top: 38px;
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    margin-left: -390px;
    padding: 0;
    padding-top: 42px;
    border-radius: 5px;
  }
}

.popup-error__title {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: $font-size--large + 6px;
    line-height: 1.3333em;
  }

  @media (min-width: $desktop-width) {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.popup-error__text {
  margin-bottom: 37px;
  letter-spacing: 0.01667em;

  @media (min-width: $tablet-width) {
    font-size: $font-size--larger;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    padding-left: 200px;
    padding-right: 200px;
  }
}

.popup-error__bg {
  @media (min-width: $desktop-width) {
    padding: 46px 240px 53px 240px;
    background-color: $gray;
  }
}
