.upload {
  outline: 1px dotted red;
}

.upload__caption {
  padding: 20px 20px 42px 20px;
  line-height: 2.1428em;
  text-align: center;
  letter-spacing: 0.02857em;

  @media (min-width: $tablet-width) {
    padding: 45px 20px 70px 20px;
    font-size: $font-size--larger;
    line-height: 1.6667em;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    padding-bottom: 65px;
  }
}

.upload__editor {
  background-color: $gray-242;
  padding-top: 22px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    min-height: 509px;
    padding-top: 57px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    min-height: 515px;
    margin: 0 auto;
  }
}

.upload__file {
  display: block;
  width: 280px;
  height: 374px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  border: none;
  cursor: pointer;


  @media (min-width: $tablet-width) {
    width: 300px;
    margin: 0;
    margin-right: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 90px;
  }
}

.upload__admin-wrap {
  outline: 1px dotted blue;
  position: relative;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 280px;
  }

  @media (min-width: $desktop-width) {
    width: 380px;
  }
}

.upload__controls-wrap {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.upload__label-wrap {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 50px;
  }
}

.upload__label {
  outline: 1px dotted blue;
}

.upload__controls-icon {
  outline: 1px dotted green;
  margin-bottom: 20px;
}

.upload__range-wrap {
  margin: 0;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.upload__range {
  display: none;
  margin: 0 auto;
  width: 240px;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: 200px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 285px;
  }
}

.upload__btn-wrap {
  margin: 0 auto;
  width: 280px;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
  }
}

.upload__btn {
  width: 180px;
  min-height: 55px;
  margin: 0 auto;
  margin-bottom: 12px;
  color: $gray-242;
  background-color: transparent;
  border: 3px solid $gray-221;

  &--active {
    color: $color-secondary;
    border-color: $color-secondary;
  }

  @media (min-width: $tablet-width) {
    width: 260px;
  }

  @media (min-width: $desktop-width) {
    width: 185px;
    margin: 0;
  }
}
