$font-family: "Open Sans",  "Arial", sans-serif;

$font-size--smaller: 12px;
$font-size--content: 14px;
$font-size--larger: 18px;
$font-size--large: 24px;

// ================

$line-height--smaller: 18px;
$line-height--content: 24px;
$line-height--larger: 30px;
$line-height--large: 32px;

// ================

$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--bold: 700;

// ================

$color-main: #283645;
$color-main--dark: #1d2631;

$color-secondary: #d22856;

$gray: #f2f2f2;
$gray--dark: #e9ebec;
$gray--darken: #dddfe0;
$gray--darkenest: #b5b9be;
