$font-family: "Open Sans",  "Arial", sans-serif;

$font-size--smaller: 12px;
$font-size: 14px;
$font-size--larger: 18px;
$font-size--large: 24px;

//================

$line-height: 1.7143em;

//================

$color-main: #283645;
$color-main--dark: #1d2631;

$color-secondary: #d22856;

$gray: #f2f2f2;
$gray--dark: #e9ebec;
$gray--darken: #dddfe0;
$gray--darkenest: #b5b9be;

//================

$mobile-width: 659px;
$tablet-width: 660px;
$desktop-width: 1200px;
